/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 17px 19px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffa500;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ff8c00;
  color: white;
}

p{
  color: red;
}
