/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: black;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 10px 15px;
  font-weight: bold;
  text-decoration: none;
  font-size: 35px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffa500;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ff8c00;
  color: white;
}

h1{
  font-family: Garamond, serif;
  font-size: 60px;
}

h2{
  font-family: Garamond, serif;
  font-size: 40px;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 60px;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.underlined h1{
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: black;
}

.centered input {
  font-size: 35px;
  font-family: Garamond, serif;
  text-align: center;
  padding: 20px;
  background-color: #e6e6e6;
  color: black;
}

.topbar {
  background-color: white;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: black;
}

.topbar a {
  float: right;
}

.topbar h1 {
  font-size: 40px;
  font-family: Garamond, serif;
  position: absolute;
  left: 50%;
  text-align: center;
}
