<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="css/styles.css" type="text/css">
    <style>
      .column {
        float: left;
      }
  
      /* Set width length for the left, right and middle columns */
      .left {
        width: 50%;
      }
  
      .right {
        width: 50%;
      }
    </style>
	</head>
	<body>
		
		<div class="topbar">
			<a href="../index.html"><img src="../images/logo.png" style="width:70px;height:70px;"></a>
		</div>


        <!-- Includes the Side  bar -->
		    <%- include('partials/sidebar', {events: joinedEvents}) %>

          <!-- FrontEnd Ver  -->

          <div class="main">
            <div class="column left">
              <div class="inputPlaceholders" style="padding-top:2px; margin-left: 150px;">
                <div class="underlined" style="height:70px;padding-bottom:50px;">
                  <h1>Event Details:</h1>
                </div>
                <form action="/addEvent" method="POST" enctype="multipart/form-data">
                <h2> Event name: <input type="text" name="eventName" id="ename" placeholder="Event Name" required></h2>
                <h2> Choose an icon: <input type="file" id="eventIcon" name="image" > </h2>
                <h2> Start (dd/mm/yy):<input type="datetime-local" id="sDate" name="startDate" placeholder="Enter start date" required> </h2>
                <h2> End (dd/mm/yy):<input type="datetime-local" id="eDate" name="endDate" placeholder="Enter end date" required> </h2>
              </div>
              <div class="underlined" style="margin-left: 150px;">
                <h1> Templates: </h1>
              </div>
              <div class="button" style="padding-bottom:90px;">
                <h2>Analytics   <input type="checkbox" name="analytics" id="template1" value="true"></h2>
                <h2>Analytics + Mood   <input type="checkbox" name="template2" id="template2" value="true"></h2>
                  <button type="button" id="cYOButton" >Create your own</button>
                    <!-- The Modal -->
                    <div id="myModal1" class="modal">
                      <!-- Modal content -->
                      <div class="modal-content">
                        <span class="close1">&times;</span>
                        <div class="underlined" style="padding-top:70px; margin-left: 150px;">
                          <h2> Other options: </h2>
                          <h2> <input type="checkbox" id="analytics" name="analytics" value="true"> Analytics </h2>
                          <h2> <input type="checkbox" id="generalMood" name="generalMood" value="true"> General Mood </h2>
                          <h2> <input type="checkbox" id="generalMoodOT" name="generalMoodOverTime" value="true"> General Mood Over Time </h2>
                          <h2> <input type="checkbox" id="requests" name="requests" value="true"> Requests </h2>
                        </div>
                        <p>
                          <button type="button" id="done" style="font-size:25px;">Done</button>
                        </p>
                      </div>
                    </div>
                    <script>
                      // Get the modal
                      var modal1 = document.getElementById("myModal1");
        
                      // Get the button that opens the modal
                      var btn1 = document.getElementById("cYOButton");
        
                      // Get the <span> element that closes the modal
                      var span1 = document.getElementsByClassName("close1")[0];

                      var done = document.getElementById('done');
        
                      // When the user clicks the button, open the modal
                  
                      btn1.onclick = function() {
                        modal1.style.display = "block";
                      }
        
                      // When the user clicks on <span> (x), close the modal
                      span1.onclick = function() {
                        modal1.style.display = "none";
                      }
        
                      // When the user clicks anywhere outside of the modal, close it
                      window.onclick = function(event) {
                        if (event.target == modal) {
                          modal1.style.display = "none";
                        }
                      }

                      done.onclick = function() {
                        modal1.style.display = "none";
                      }

                      // Allow only one template to be selected at any one time!!
                      var template1 = document.getElementById('template1');
                      var template2 = document.getElementById('template2');
                      var cyoBUTTON = document.getElementById('cYOButton');

                      var analytics = document.getElementById('analytics');
                      var gm = document.getElementById('generalMood');
                      var gmOTIME = document.getElementById('generalMoodOT');
                      var requests = document.getElementById('requests');
                      template1.onchange = function() {
                          if(this.checked) {
                            template2.disabled = true;
                            cyoBUTTON.disabled = true;

                            analytics.checked = false;
                            gm.checked = false;
                            gmOTIME.checked = false;
                            requests.checked = false;
                          }else {
                            template2.disabled = false;
                            cyoBUTTON.disabled = false;
                          }
                      }
                      template2.onchange = function() {
                          if(this.checked) {
                            template1.disabled = true;
                            cyoBUTTON.disabled = true;

                            analytics.checked = false;
                            gm.checked = false;
                            gmOTIME.checked = false;
                            requests.checked = false;
                          }else {
                              template1.disabled = false;
                              cyoBUTTON.disabled = false;
                          }
                      }
                      </script>
                  <br>
              </div>
            </div>

            <div class="column right">
              <div class="underlined" style="margin-left: 100px;">
                <h1> Attendees: </h1>
              </div>
              <div class="button" style="padding-bottom:90px;">
                <!-- Trigger/Open The Modal -->
                <button type="button" id="myBtn">Select attendees</button>
                
                <h2> Max no. of participants: <input type="number" name="participants" placeholder="No. of participants" min="0" required></h2>

                <!-- The Modal -->
                <div id="myModal" class="modal">
                  <!-- Modal content -->
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <div id="people-container">
                      <h3>Person 1:</h3>
                      <p>
                        <label>Username</label><br>
                        <input type="text" name="people" style="font-size:20px;">
                      </p>
                    </div>
                    <a href="javascript:;" id="add-new-person">Add new person</a>
                    <p>
                      <button type="button" id="doneAttendee" style="font-size:25px;">Done</button>
                    </p>
                  </div>
        
                  <script>
                    let i = 2;
                    document.getElementById('add-new-person').onclick = function () {
                      let template = `
                                          <h3>Person ${i}:</h3>
                                          <p>
                                              <label>Username</label><br>
                                              <input type="text" name="people[${i}][username]" style="font-size:20px;">
                                          </p>`;
        
                      let container = document.getElementById('people-container');
                      let div = document.createElement('div');
                      div.innerHTML = template;
                      container.appendChild(div);
                      i++;
                    }
                  </script>
                </div>
                <h2> Create token: <input type="text" id="token" name="createToken" placeholder="Enter token"></h2>
                <h2>Anyone can attend <input type="checkbox" name="public" id="public" value="true"></h2>
                <script>
                  // Get the modal
                  var modal = document.getElementById("myModal");

                  // Get the button that opens the modal
                  var btn = document.getElementById("myBtn");

                  // Get the <span> element that closes the modal
                  var span = document.getElementsByClassName("close")[0];

                  var doneAttendee = document.getElementById('doneAttendee');

                  // When the user clicks the button, open the modal
                  btn.onclick = function () {
                    modal.style.display = "block";
                  }

                  // When the user clicks on <span> (x), close the modal
                  span.onclick = function () {
                    modal.style.display = "none";
                  }

                  // When the user clicks anywhere outside of the modal, close it
                  window.onclick = function (event) {
                    if (event.target == modal) {
                      modal.style.display = "none";
                    }
                  }

                  doneAttendee.onclick = function() {
                    modal.style.display = "none";
                  }
                  // Disable the ability to create token if defined "PUBLIC"
                  var public = document.getElementById('public');
                  var tokenBtn = document.getElementById('token');
                  public.onclick = function() {
                    if(this.checked) {
                      tokenBtn.disabled = true;
                    }else {
                      tokenBtn.disabled = false;
                    }
                  }
                </script>
                </h4>
              </div>
              <input type="submit" value="Create" style="font-size: 40px;color: black;background-color: orange;font-family: Garamond, serif; margin-left: 50%;">
            </form>
              <div class="help" style="margin-left: 350px;margin-top: 70px;">
                <div class="question">?</div>
                <div class="popup">
                  <h3>Attendee event help page</h3>
                  <p>Here we explain how to use each feature...</p><br><br>
                  <div class="tell-me">
                    <p>Tell me more!</p>
                    <div class="popup2">
                      <h4>Sub-levels</h4>
                      <p><a href="../html/helpPage.html" target="_blank">Click here</a> if more help is needed. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

	</body>
</html>