<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="css/styles.css" type="text/css">
		<!-- <style>
		.event-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.event-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.event-form input[type="password"],
		.event-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.event-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color:grey;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		.popup{
			background: rgba(0, 0, 0, 0.6);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			display:  none;
			justify-content: center;
			align-items: center;
		}
		.popup-content{
			height: 350px;
			width: 500px;
			background: #fff;
			padding: 20px;
			border-radius: 5px;
			position: relative;
			display: none;
		}
		.popup-input{
			height: 30px
		}
		</style> -->
	<body>

		<div class="popup">
			<div class="popup-content">
				<div class="popup-input">
					<button type="button" id="addBtn">+ New attendee</button>
					<h5>Attendee 1</h5>
					<input type="text" name="attendeeName[1][username]" id="aName" placeholder="Username">
				</div>
				
				<p id="attendeesAdded"></p>

				<script>
				let i = 1;

				var addBtn = document.getElementById('addBtn').addEventListener('click', function() {
					var usernameEntered = document.getElementById('aName').value;
					document.getElementById('attendeesAdded').innerHTML = usernameEntered;

				let template = `
				<h5>Attendee ${i}:</h5>
				<input type="text" name="attendeeName[${i}][username]" id="aName" placeholder="Username">`;

				let container = document.getElementById('popup-content');
				let div = document.createElement('div');
				div.innerHTML = template;
				container.appendChild(div);
				
				i++;
				})
				</script>
				<div class="close">
					<input type="submit" value="Close">
				</div>
			</div>
		</div>

		<div class="event-form">
			<h1>Hello <%= username%></h1>
			<h2>Create event</h2>
			<form action="/addEvent" method="POST" id="add_event" enctype="multipart/form-data">

				<input type="file" name="image" id="image">
				<input type="text" name="eventName" id="ename" placeholder="Event Name" required>
				<input type="number" name="participants" placeholder="No. of participants" required><br>
                <label for="startDate">Start:</label><input type="date" name="startDate" required>
                <label for="endDate">End:</label><input type="date" name="endDate" required>
                <label for="public">Anyone can attend:</label><input type ="checkbox" id="public" value="true" name="public">
				<label for="analytics">Analytics</label><input type="checkbox" value="true" name="analytics">
                <label for="generalMood">General Mood</label><input type="checkbox" value="true" name="generalMood">
                <label for="generalMoodOverTime">General Mood Over Time</label><input type="checkbox" value="true" name="generalMoodOverTime">
                <label for="requests">Requests</label><input type="checkbox" value="true" name="requests">

				<button type="button" id="attendees">Select attendees</button>
				<button type="button" id="createToken" onclick="myFunction()">Create token</button>
				<input id="demo" name="createToken" type="text">
				<script>
					var public = document.getElementById('public');
					var tokenbtn = document.getElementById('createToken');
					var tokenInput = document.getElementById('demo');
					public.onchange = function() {
						if(this.checked) {
							tokenbtn.disabled = true;
							tokenInput.disabled = true;
						}else {
							tokenbtn.disabled = false;
							tokenInput.disabled = false;
						}
					}
				</script>
				<script>
					var seq = 0;

					function myFunction() {
						seq = seq +1;
						number = '0000'.substr(String(seq).length) + seq
						document.getElementById("demo").value = number;
					}
				</script>
				<input type="submit" id="button" value="Create">

				<script> 
				var btn = document.getElementById('attendees');
				btn.addEventListener('click', function() {
					document.querySelector('.popup').style.display = 'flex';
					document.querySelector('.popup-content').style.display = 'flex';
				});

				document.querySelector('.close').addEventListener('click', function() {
					document.querySelector('.popup').style.display = 'none';
					document.querySelector('.popup-content').style.display = 'none';
				})
				</script>
			
				<a href="/hostEvents">View my events</a><br></br><a href="/joinedEvents">View joined events</a>
			</form>

			<h2>Join event</h2>
			<form action="/joinEvent" method="POST">
				<input type="text" name="eventToken" placeholder="Token" required>
				<input type="submit" value="Join">
			</form>

			<h1>My events</h1>

			<%if (eventsList.length > 0) { %>
				<%eventsList.forEach(event => {%>
					<form action="/viewEvent" method="POST">
						<h3><%= event.eventName %></h3><img src="/uploads/images/<%=event.img%>" style="width: 60px; height: 60px;">
						<input type="hidden" name="event_name" value="<%=event.eventName%>">
						<input type="submit" name="view_event" value="View event">
					</form>
				<%})%>
			<% }else  {%>
				<h3>You currently do not have any events created!</h3>
				<a href="/">Create an event</a>
			<% } %>
		</div>
	</body>
</html>