<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="css/styles.css" type="text/css">
	</head>
	<body>
		<!-- Includes the Top Navigation bar -->
		<%- include('partials/topnav') %>
	

		<div class="homepage">
			<div class="centered">
			  <div class="underlined">
				<h1> Join event </h1>
			  </div>
			  <form>
				<input type="text" id="username" name="newUserUsername" placeholder="Enter username">
				<br>
				<input type="number" id="attendeeToken" name="token" placeholder="Enter Token">
				<br>
				<input type="password" id="pwd" name="password" placeholder="Enter password">
				<br>
				<a href="attendeeEventHomepage.html"><img src="../images/joinButton.png"
					style="width:180px;height:70px;padding-bottom:150px;"></a>
				<br>
			  </form>
			</div>
		  </div>
		
	</body>
</html>