<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="css/styles.css" type="text/css">
	</head>
	<body>
		<!-- Includes the Top Navigation bar -->
		<%- include('partials/topnav') %>

		<div class="popup">
			<div class="popup-content">
				<div class="popup-input">
					<button type="button" id="addBtn">+ New attendee</button>
					<h5>Attendee 1</h5>
					<input type="text" name="attendeeName[1][username]" id="aName" placeholder="Username">
				</div>
				
				<p id="attendeesAdded"></p>

				<script>
				let i = 1;

				var addBtn = document.getElementById('addBtn').addEventListener('click', function() {
					var usernameEntered = document.getElementById('aName').value;
					document.getElementById('attendeesAdded').innerHTML = usernameEntered;

				let template = `
				<h5>Attendee ${i}:</h5>
				<input type="text" name="attendeeName[${i}][username]" id="aName" placeholder="Username">`;

				let container = document.getElementById('popup-content');
				let div = document.createElement('div');
				div.innerHTML = template;
				container.appendChild(div);
				
				i++;
				})
				</script>
				<div class="close">
					<input type="submit" value="Close">
				</div>
			</div>
		</div>

		<div class="event-form">
			<h1>Hello <%= username%></h1>
			<h2>Public events</h2>

            <%if (publicEventsList.length > 0) { %>
            <%publicEventsList.forEach(publicEvent => {%>
                <h3><%= publicEvent.eventName %></h3>
            <%})%>
            <% }else  {%>
                <p>There are no public events available to join.</p>
            <% } %>

		</div>
	</body>
</html>