<!DOCTYPE html>
<html>
<head>
  <title>This is the homepage</title>
  <link rel="stylesheet" href="css/styles.css" type="text/css">
</head>

<body>
  <div class="topnav">
    <a href="/"><img src="images/logo.png" style="width:50px;height:50px;"></a>
    <a href="html/aboutUs.html">About us</a>
    <a href="/register">Register</a>
    <a href="html/login.html">Login</a>
    <a href="html/helpPage.html">Get help</a>
  </div>

  <div class="homepage">
    <div class="split left">
      <div class="centered">
        <h1> REAL TIME </h1>
        <h1> MESSAGING </h1>  
        <h1>    APP   </h1>
        <h2> Add team members </h2>
        <h2> to events. Provide </h2>
        <h2> live feedback. Create </h2>
        <h2> templates and much </h2>
        <h2>      more.        </h2>
      </div>
    </div>

    <div class="split right">
      <div class="centered">
        <img src="images/messaging.jpg">
        <a href="html/guestHomepage.html"><img src="images/loginGuest.png"></a>
      </div>
    </div>
  </div>
</body>
</html>
