<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="css/styles.css" type="text/css">
	</head>
	<body>
		<!-- Includes the Top Navigation bar -->
		<%- include('partials/topnav') %>

		<div class="homepage">
			<div class="centered">
			<div class="underlined">
				<h1> Register </h1>
			</div>
				<form>
				<input type="email" id="userEmail" name="newUserEmail" placeholder="Enter email">
				<br>
				<input type="text" id="username" name="newUserUsername" placeholder="Enter username">
				<br>
				<input type="password" id="password" name="newUserPassword" placeholder="Enter password">
				<br>
				<input type="password" id="cPassword" name="confirmUserPassword" placeholder="Confirm password">
				<br>
				</form>
			<a href="userHomepage.html"><img src="../images/createButton.png" style="width:150px;height:70px;"></a>
			</div>
		</div>
	</body>
</html>