<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="css/styles.css" type="text/css">
	</head>
	<body>
		<!-- Includes the Top Navigation bar -->
		<%- include('partials/topnav') %>

		<div class="homepage">
			<div class="centered">
			<div class="underlined">
				<h1> Register </h1>
			</div>
				<form action="/register" method="POST">
				<input type="email" id="userEmail" name="email" placeholder="Enter email">
				<br>
				<input type="text" id="username" name="username" placeholder="Enter username">
				<br>
				<input type="password" id="password" name="password" placeholder="Enter password">
				<br>
				<input type="password" id="cPassword" name="confirmUserPassword" placeholder="Confirm password">
				<br>
				<input type="submit" value="Register" class="btn btn-primary">
				</form>
			</div>
		</div>
	</body>
</html>