<div class="sidenav">
    <a href="/"><img src="../images/homeButton.png" style="width:75px;height:75px;"></a>
    <a href="#"><img src="../images/logo.png" style="width:70px;height:70px;"></a>
    <a href="#"><img src="../images/logo.png" style="width:70px;height:70px;"></a>
    <a href="#"><img src="../images/logo.png" style="width:70px;height:70px;"></a>
    <a href="#"><img src="../images/logo.png" style="width:70px;height:70px;"></a>
</div>