/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: black;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 10px 15px;
  font-weight: bold;
  text-decoration: none;
  font-size: 35px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffa500;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ff8c00;
  color: white;
}

.homepage h1{
  font-family: Garamond, serif;
  font-size: 60px;
}

.homepage h2{
  font-family: Garamond, serif;
  font-size: 40px;
}

/* Split the screen in half (index)*/
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 75px;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side (index)*/
.left {
  left: 120px;
}

/* Control the right side (index)*/
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically (index, login, register)*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* (login, register)*/
.underlined h1{
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: #ff8c00;
}

/* Style input boxes (login, register)*/
input {
  font-size: 35px;
  font-family: Garamond, serif;
  text-align: center;
  padding: 20px;
  background-color: #e6e6e6;
  color: black;
}

/* style topbar (user homepage) */
.topbar {
  background-color: white;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: black;
  padding: 1px 1px;
}

.topbar a {
  float: right;
}

.topbar h1 {
  font-size: 43px;
  font-family: Garamond, serif;
  text-align: center;
}

/* The sidebar menu (userHomepage)*/
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right-style: solid;
  border-right-width: thick;
  border-right-color: black;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 100px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.inputPlaceholders input{
  font-size: 25px;
  font-family: Garamond, serif;
  text-align: center;
  background-color: #e6e6e6;
  color: black;
}

.checkboxes{
  background-color: #fed8b1;
}

.button button{
  font-size: 30px;
  font-family: Garamond, serif;
  text-align: center;
  background-color: #e6e6e6;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button button:hover{
  color: black;
  background-color: orange;
}

.button button:focus{
  color: black;
  background-color: orange;
}

.button {
  text-align: center;
}

.underlined input[type="submit"] {
  height: 50px;
  width: 120px;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 30px;
}

.underlined input[name="Join"] {
  font-size: 30px;
  padding: 5px 10px;
  border-radius: 30px;
  margin-top: 15px;
}

#circle_my_events_active{
  background-size: cover;
  border-radius: 50% 50% 50% 50%;
  width: 70px;
  height: 70px;
  border: 2.7px solid transparent;
  border-color: red;
  margin-right: 10px;
  margin-left: 50px;
}

#circle_my_events_inactive{
  background-size: cover;
  border-radius: 50% 50% 50% 50%;
  width: 70px;
  height: 70px;
  border: 1.9px solid transparent;
  margin-right: 10px;
  margin-left: 50px;
}

.darkClass
{
    background-color: grey;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 120px;
    left: 105px;
}

#circle_active {
  background-size: cover;
  border-radius: 50% 50% 50% 50%;
  border: 1.7px solid transparent;
  border-color: red;
  width: 70px;
  height: 70px;
}

#circle_inactive {
  background-size: cover;
  border-radius: 50% 50% 50% 50%;
  width: 70px;
  height: 70px;
}

.box {
  display: flex;
  align-items:center;
  margin-left: 140px;
}

h1 {
  font-size: 40px;
  font-family: Garamond, serif;
}

h2 {
  font-size: 40px;
  font-family: Garamond, serif;
}

h3 {
  font-size: 20px;
  font-family: Garamond, serif;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  right: 0px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  font-family: Garamond, serif;
  font-size: 25px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.logoutButton button{
  font-size: 40px;
  color: black;
  background-color: orange;
  font-family: Garamond, serif;
}

.eventBox{
  font-size: 30px;
  background-color: lightgrey;
}

.help .question {
  height: 40px;
  width: 40px;
  background: #ccc;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.help .popup, .help .popup2 {
  width: 400px;
  height: 0px;
  text-align: left;
  overflow: hidden;
  position: relative;
  background: #eee;
  opacity: 0;
  transition: 1s;
}

.help .popup {
  left: -170px;
  top: 10px;
}

.help .popup2 {
  height: 200px;
}

.help .popup2 h4 {
  font-size: 18px;
  padding: 10px;
  margin-top: 0;
}

.help:hover .popup {
  opacity: 1;
  height: 150px;
}

.help .tell-me p:first-child {
  color: #317eac;
  cursor: pointer;
}

.tell-me {
  width: 150px;
}

.help .tell-me:hover .popup2 {
  top: -110px;
  opacity: 1;
}

.help .popup h3 {
  margin: 0;
  padding: 10px 0 0 10px;
  height: 30px;
  background: #555;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

.help .popup p {
  font-size: 16px;
  padding: 10px;
  margin: 0;
}

.help .popup .popup2 .sub-levels {
  padding: 0 0 10px 140px;
}

.help .popup .popup2 p:nth-child(5) {
  padding: 20px 0 0 10px;
}

.block {
  display: inline-block;
  width: 125px;
  height: 55px;
  background-color: white;
  border: 3px solid black;
}

.input-block {
    margin-bottom: 40px;
}

.round-process {
    width: 380px;
    height: 10px;
    color: black;
    font-size: 20px;
    outline: none;
    background: none;
}

.input-wrap {
    position: relative;
    /*    width: 200px;*/
    /*    text-align: center;*/
    display: inline-block;
}

.vertical-line {
    width: 1px;
    height: 53px;
    position: absolute;
    top: 0px;
    left: 300px;
    background-color: black;
}

.vertical-left {
  width: 1px;
  height: 53px;
  position: absolute;
  top: 0px;
  left: 100px;
  background-color: black;
}


/* CHAT STUFFF */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #f29e50;
	--dark-color-b: #e38b39;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */

/* body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
} */

/* ul {
	list-style: none;
}

a {
	text-decoration: none;
} */

/* .btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
} */

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

.bold-text {
	font-size: 17px;
	font-weight: 900;
	color: var(--dark-color-b);
	opacity: 1;
	margin-bottom: 7px;
}

.bold-text span {
	color: #777;
	font-size: 15px;
	opacity: 0.7;
}